{{ define "main" }}
  <section class="list">
    {{ partial "header" . }}
   
    <div class="container">
      <div class="content">

        {{ if eq .Data.Plural "tags" }}
        <div class="tag-cloud-tags">
          {{- range $.Site.Taxonomies.tags.ByCount -}}
              <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }} <sup>{{ .Count }}</sup></a>
          {{- end -}}
        </div>
    
        {{ else }}

        {{- range .Data.Pages }}
        <article class="summary">
          <header class="header">
            <h2 class="header__title">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
          </header>

          <div class="summary__content">
            <ul>
            {{ range .Pages }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
            </ul>
          </div>
        </article>
        {{- end }}

    {{ end }}
        </div>

    </div>

  </section>
{{ end }}