<figure class="banner">
  {{- with .banner.page_href -}}
  <a href="{{ . }}">
  {{- end -}}
  {{- $options := dict "Src" .banner.resource -}}
  {{- $options := dict "Alt" .banner.alt | merge $options -}}
  {{- $options = dict "Resources" .Page.Resources | merge $options -}}
  <!-- <img src="{{ .resource.RelPermalink }}" alt="{{ .alt }}" /> -->
  {{- partial "plugin/imagesize.html" $options -}}
  {{- with .banner.page_href -}}
  </a>
  {{- end -}}

  {{- if or .banner.caption .href }}
    <figcaption class="metadata">

      {{- with .banner.href -}}
      <a href="{{ . }}">
      {{- end -}}

        {{- with .banner.caption -}} {{ . }} {{- end -}}

      {{- with .banner.href -}}
      </a>
      {{- end -}}

    </figcaption>
  {{- end }}
</figure>
