<nav class="nav">
  
      <a class="logo nav__home" href="{{ .Site.Home.RelPermalink }}" >
        {{- with .Site.Params.navHome -}}
          {{- . -}}
        {{- else -}}
          {{- .Site.Title -}}
        {{- end -}}
      </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
    {{- with .Site.Menus.main }}
    <ul class="menu">
      {{- range . }}
        <li >
          {{- .Pre -}}
          <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
          {{- .Post -}}
        </li>
      {{- end }}
    </ul>
    {{- end }}
</nav>